<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="telegram-adapter-demo.ZPM">
    <Module>
      <Name>telegram-adapter-demo</Name>
      <Version>1.0.1</Version>
      <Description>Telegram adapter DEMO</Description>
      <Author>
        <Person>Nikolay Solovyev</Person>
        <CopyrightDate>2022</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>telegram-adapter</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <SystemRequirements Version=">=2021.1" Interoperability="enabled" />
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Telegram.Demo.PKG"/>
    </Module>
  </Document>
</Export>
